@media screen and (min-width: 300px) and (max-width: 368px) {
  .container {
    padding: 15px 15px;
  }
  .app-name {
    font-size: 25px;
  }
  .pass__box {
    width: 100%;

    margin-bottom: 35px;
    font-size: 17px;
  }
  .pass-length-div .pass-text {
    font-size: 18px;
  }
  .pass-length {
    font-size: 20px;
  }
  .row label {
    font-size: 14px;
  }
}
